<!-- Wrapper-->
<div id="wrapper" class="top-navigation" ng-controller="AppController">

    <!-- Navigation -->
    <div ng-include="'views/common/top_navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
