<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="profile-element flexbox align-center">
					<img alt="image" class="img-circle" src="/img/gtb.png">
					<a href class="m-l">
						<strong class="font-bold">John Doe</strong>
					</a>
				</div>
				<div class="logo-element"><img src="/img/gtb.png" width="100%"></div>

			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.settings"><i class="fa fa-cog"></i> <span class="nav-label">Ayarlar</span> </a>
			</li>
		</ul>

	</div>
</nav>
