<div class="row border-bottom white-bg">
	<nav class="navbar navbar-static-top" role="navigation">
		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav m-t-sm m-b-sm">

				<li class="active">
					<a ui-sref="app.home" href="#" > OKUL FONLAYICI </a>
				</li>
			</ul>
			<ul class="nav navbar-top-links navbar-right m-t-sm m-b-sm" ng-if="user._id">
				<li>
					<button class="btn btn-sm btn-success" ui-sref="app.new-request" ><i class="fa fa-plus"></i> Destek Talebi Oluştur</button>
				</li>
				<li class="dropdown">
					<a href="" id="dropdown1" data-toggle="dropdown" aria-haspopup="true">
						{{user.firstname}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown1">
						<li><a ui-sref="app.profile">Profili Düzenle</a></li>
						<li><a href="#" ng-click="logout()">Çıkış Yap</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-top-links navbar-right m-t-sm m-b-sm" ng-if="!user._id">
				<li>
					<button class="btn btn-sm btn-white m-r-sm" ng-click="openLoginForm()">Giriş Yap</button>
				</li>
				<li>
					<button class="btn btn-sm btn-success" ng-click="registration()">Kaydol</button>
				</li>
			</ul>
		</div>
	</nav>
</div>
