<div class="row">
	<div class="col-md-3 m-t-md" ng-repeat="user in users | orderBy: '-score'">
		<div class="profile-card">
			<div class="background" style="background-image: url('{{user.details.profile_background_image_url}}');">
			</div>
			<div class="profile-card-content">
				<a class="avatar" ng-href="https://twitter.com/{{user.details.screen_name}}">
					<img src="{{ user.details.profile_image_url }}"/>
				</a>
				<div class="user-fields">
					<div class="profile-name">
						<a ng-href="https://twitter.com/{{user.details.screen_name}}">{{user.details.name}}</a>
					</div>
					<span class="screen-name">
						<a ng-href="https://twitter.com/{{user.details.screen_name}}">
							@{{user.details.screen_name}}
						</a>
					</span>
					<p class="desc m-t-sm">{{user.details.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
