<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="alert alert-success" ng-show="updated">Profiliniz güncellendi!</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">Profil Düzenle</div>
				</div>
				<div class="panel-body p-md">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="firstname" class="control-label col-sm-3">Ad</label>
							<div class="col-sm-9">
								<input class="form-control" id="firstname" type="text" ng-model="user.firstname" placeholder="Ad"/>
							</div>
						</div>
						<div class="form-group">
							<label for="lastname" class="control-label col-sm-3">Soyad</label>
							<div class="col-sm-9">
								<input class="form-control" id="lastname" type="text" ng-model="user.lastname" placeholder="Soyad"/>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="control-label col-sm-3">Email</label>
							<div class="col-sm-9">
								<input class="form-control" id="email" type="email" ng-model="user.email" placeholder="Email"/>
							</div>
						</div>
						<div class="form-group">
							<label for="phone" class="control-label col-sm-3">Telefon</label>
							<div class="col-sm-9">
								<input class="form-control" id="phone" type="text" ng-model="user.phone" placeholder="Telefon"/>
							</div>
						</div>
						<div class="form-group">
							<label for="schoolName" class="control-label col-sm-3">Okul</label>
							<div class="col-sm-9">
								<input class="form-control" id="schoolName" type="text" ng-model="user.schoolName" placeholder="Okul Adı"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input ng-click="update()" type="submit" class="btn btn-sm btn-block btn-success" value="Güncelle"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
