.navbar {
	padding: 0 60px;
}

/* Buttons */
.btn-success{
	background-color: #490;
	border-color: #490;
}

.btn-outline.btn-success:focus {
	background-color: #fff;
	border-color: #490;
	color: #490
}

.btn-success:hover, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success, .btn-success:active:hover, .btn-success.active:hover, .btn-outline.btn-success.active:focus, .btn-success:focus {
	background-color: #490;
	border-color: #490;
	color: #fff
}


.product-main-price small {
	font-size: 14px;
}

.dl-horizontal dt {
	text-align: left;
	width: 100px;
}

.dl-horizontal dd {
	margin-left: 100px;
}

.flexbox {
	display: flex;
}

.justify-space-between {
	justify-content: space-between;
}

.clickable {
	cursor: pointer;
}

.modal-footer {
	padding: 10px 20px;
}

.top-navigation .nav > li > a {
	padding: 6px 15px !important;
}

.nav > li > a { 
	min-height: 0 !important;
}
