<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">

			<div class="ibox product-detail">
				<div class="ibox-content">

					<div class="row">
						<div class="col-md-6">


							<slick dots="true">

								<div>
									<img ng-src="{{request.photo}}" width="100%">
								</div>

							</slick>

						</div>
						<div class="col-md-6">

							<h2 class="font-bold m-b-xs">
								{{request.name}}
							</h2>
							<small>{{request.createdBy.firstname + ' ' + request.createdBy.lastname + ', ' + request.createdBy.schoolName}}</small>
							<div class="m-t-md">
								<h2 class="product-main-price flexbox justify-space-between">
									<span>{{request.collected}} / {{request.moneyAmount}} TL <small>Bağış Toplandı</small></span>
									<button class="btn btn-success" ng-click="donation()"><i class="fa fa-chevron-right m-r-xs"></i> Bağış Yap</button>
								</h2>
							</div>
							<hr>

							<h3>Detaylar</h3>

							<div>
								{{request.desc}}
							</div>
							<hr>

							<h3>İletişim</h3>
							<dl class="dl-horizontal m-t-md">
								<dt>Okul</dt>
								<dd>{{request.createdBy.schoolName}}</dd>
								<dt>İlgili</dt>
								<dd>{{request.createdBy.firstname + ' ' + request.createdBy.lastname}}</dd>
								<dt>Telefon</dt>
								<dd>{{request.createdBy.phone}}</dd>
								<dt>E-posta</dt>
								<dd>{{request.createdBy.email}}</dd>
							</dl>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
