<div class="inmodal">
	<div class="modal-header">
		<i class="fa fa-cog"></i>
		<strong class="m-l-sm">Bağış Yap</strong>
	</div>
	<div class="modal-body">
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label" style="text-align:left !important; padding-left:0 ">Bağış Miktarı</label>
						<div class="input-group">
							<input type="text" required ng-model="donation.moneyAmount" class="form-control">
							<span class="input-group-addon">/ {{request.moneyAmount}} ₺ </span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="pull-right" style="font-size: 26px !important">
						<i class="fa fa-cc-mastercard text-warning"></i>
						<i class="fa fa-cc-visa text-danger"></i>
					</div>
					<form name="form" id="payment-form" class="ng-pristine ng-valid">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label>Kart Üzerindeki Ad Soyad</label>
									<input type="text" class="form-control" required ng-model="donation.card.name" name="nameCard" placeholder="Ad ve Soyad">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label>Kart Numarası</label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="XXXX XXXX XXXX XXXX" required ng-model="donation.card.number" name="Number" required="">
										<span class="input-group-addon">
											<i class="fa fa-credit-card"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-7 col-md-7">
								<div class="form-group">
									<label>Son Kullanma Tarihi</label>
									<input type="text" class="form-control" required ng-model="donation.card.expiry" name="Expiry" placeholder="Ay / Yıl" required="">
								</div>
							</div>
							<div class="col-xs-5 col-md-5 pull-right">
								<div class="form-group">
									<label>CV Kodu</label>
									<input type="text" class="form-control" required ng-model="donation.card.cvc" name="CVC" placeholder="CVC" required="">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-white pull-left" ng-click="cancel()">İptal</button>
				<button class="btn btn-success" type="button" ng-click="createDonate()">Bağışla</button>
			</div>
		</div>
	</div>
</div>