<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Talep Oluştur</h5>
            </div>
            <div class="ibox-content">
                <form method="get" name="form" class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">İlan Adı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required ng-model="data.name">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">İlan Açıklama</label>
                        <div class="col-sm-10">
                            <textarea rows="4" class="form-control" required ng-model="data.desc"> </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photo" class="col-sm-2 control-label">Resim</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" ng-model="data.photo" id="photo" ngf-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bağış Miktarı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required ng-model="data.moneyAmount">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" ng-click="createNewRequest()">Oluştur</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>