.nav-header {
  background: url("/img/patterns/header-profile.png") no-repeat; }

#page-wrapper {
  min-height: 100vh !important; }

.inmodal .modal-header {
  padding: 10px; }

.inmodal .modal-title {
  font-size: 18px; }

.inmodal .modal-body {
  padding: 20px; }

.flexbox {
  display: flex; }

.flex-1 {
  flex: 1;
  flex-basis: 0; }

.align-center {
  align-items: center; }

.fixed-layout {
  table-layout: fixed; }

/* Rules for responsive design */
@media (max-width: 767px) {
  .wrapper .ibox {
    margin-left: -25px;
    margin-right: -25px; } }

.profile-card {
  background: #fff;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  text-align: left;
}

.profile-card .background {
  height: 90px;
  width: 100%;
  background-size: 100%;
  background-color: #1DA1F2;
  display: block;
}

.profile-card-content {
	margin: 13px 15px;
	position: relative;
}

.profile-card-content .avatar {
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	margin: -45px 2px 0 -3px;
	padding: 3px;
	position: relative;
	vertical-align: bottom;
	z-index: 1;
}

.profile-card-content .avatar img {
	border-radius: 50%;
	display: block;
	height: 70px;
	width: 70px;
}

.user-fields .profile-name {
	width: 270px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user-fields .profile-name a {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.user-fields .profile-name a:hover {
	text-decoration: underline;
}

.user-fields .screen-name a {
	color: #66757f;
	font-size: 14px;
	font-weight: normal;
}

.user-fields .screen-name a:hover {
	text-decoration: underline;
}

.user-fields .desc {
	height: 70px;
}
