<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div ng-repeat="request in requests" class="col-md-4">
			<div class="ibox">
				<div class="ibox-content product-box">
					<img ng-src="{{request.photo}}" class="clickable" ui-sref="app.request-details({id : request._id})" width="100%">
					<div class="product-desc">
						<span class="product-price">
							{{request.collected}} / {{request.moneyAmount}} TL
						</span>
						<a ui-sref="app.request-details({id : request._id})" class="product-name">{{request.name}}</a>



						<div class="small m-t-xs">
							{{request.desc | limitTo : 360}}<span ng-show="request.desc.length > 360">...</span>
						</div>
						<div class="m-t text-righ">

							<a href="#" class="btn btn-xs btn-outline btn-primary" ui-sref="app.request-details({id : request._id})">Detaylar <i class="fa fa-long-arrow-right"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
