<div class="inmodal">
	<div class="modal-header">
		<strong>Giriş Yap</strong>
	</div>
	<div class="modal-body">
		<form name="form" novalidate>
			<div class="form-group">
				<input type="email" name="email" ng-model="user.email" required class="form-control" placeholder="E-posta Adresi">
			</div>
			<div class="form-group m-b-none">
				<input type="password" name="password" ng-model="user.password" required class="form-control" id="inputPassword3" placeholder="Şifre">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success btn-sm btn-block" ng-click="login()">Giriş Yap</button>
	</div>
</div>
