<div class="inmodal">
	<div class="modal-header">
		<strong>Hesap Oluştur</strong>
	</div>
	<div class="modal-body">
		<form name="form" novalidate>
			<meta name="csrf-token" content="{{csrf_token()}}">
			<div class="form-group">
				<input type="text" name="firstname" ng-model="user.firstname" required class="form-control" placeholder="Adınız">
			</div>
			<div class="form-group">
				<input type="text" name="lastname" ng-model="user.lastname" required class="form-control" placeholder="Soyadınız">
			</div>
			<div class="form-group">
				<input type="email" name="email" ng-model="user.email" required class="form-control" placeholder="E-posta Adresi">
			</div>
			<div class="form-group m-b-none">
				<input type="password" name="password" ng-model="user.password" required class="form-control" id="inputPassword3" placeholder="Şifre">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success btn-sm btn-block" ng-click="register()">Kaydol</button>
	</div>
</div>
